html {
    height: 100%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background: linear-gradient(320deg, #22353a, #353649, #423c50);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 50px;
    margin-right: 80px;
}

h1 i {
    color: rgb(255, 100, 100);
    text-shadow: 2px 2px #00aeff;
    margin: 0 5px;
    
}

a {
    text-decoration: none;
    color: #fff;
    text-shadow: 2px 2px #00aeff;
}

h2 {
    text-shadow: 2px 2px #00aeff;
    margin: 0 20px;
    font-size: 32px;
}

.wrapper {
    text-align: center;
    width: 400px;
}

#dices {
    display: flex;
    justify-content: center;
    margin: 0 10px;
    font-size: 60px;
    color: rgb(255, 100, 100);
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    text-shadow: 2px 2px #00aeff;
    margin-top: 20px;
    padding: 4px 14px;
}

.dice {
    margin: 0px 3px;
}

@media (max-width: 400px) {
    .dice {
        font-size: 55px;
    }
}

@media (max-width: 375px) {
    .dice {
        font-size: 50px;
    }
}

.hide {
    display: none;
}

.show {
    display: flex;
}

.dice:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

button {
    font-size: 16px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px 16px;
    margin: 0px 3px;
    cursor: pointer;
    box-shadow: 2px 2px #00aeff;
    color: white;
}

#add-button {
    background: rgb(75, 190, 75);
}

#remove-button {
    background: rgb(255, 100, 100);;
}

#roll-button {
    color: black;
    flex-grow: 0.8;
}

#add-button:hover {
    background: rgb(95, 200, 95);
}

#remove-button:hover {
    background: rgb(255, 120, 120);
}

#roll-button:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(2deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-2deg); }
    100% { transform: rotate(0deg); }
}

#result {
    font-weight: bold;
    font-size: 19px;
    text-shadow: 1px 1px #0091d4;
}

#results {
    margin-top: 20px;
    font-size: 18px;
    color: grey;
}

.resultItem:last-child {
    color: white;
    font-size: 22px;
    margin-top: 3px;
}

.resultItem:last-child #result {
    font-size: 23px;
    text-shadow: 1px 1px #00aeff;
}

@keyframes roll {
    0% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.dice.roll {
    animation: roll 0.2s;
}

button:disabled {
    cursor: default;
    pointer-events: none;
    user-select: none;
}

#add-button:disabled {
    background: rgb(80, 80, 80);
}

#remove-button:disabled {
    background: rgb(80, 80, 80);
}